{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

{% block document-head %}{% include 'dynaportal/partials/document-head.html' %}{% endblock %}

{% block body %}
<body class="govuk-template__body app-body-class" onload="runOnloadTasks()">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  {% block cookies %}{% include 'dynaportal/partials/cookies.html' %}{%endblock %}

  {% block skip-link %}{% include 'dynaportal/partials/skip-link.html' %}{% endblock %}
  
  {% block header %}{% include 'dynaportal/partials/header.html' %}{% endblock %}
  
  {% block main-content %}
  <div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
      {%if banner %}{% block banner %}{% include 'dynaportal/partials/banner.html' %}{% endblock banner %}{%endif%}
      {% block content %}{% endblock content %}
    </main>
  </div>
  {% endblock main-content %}

  {% block footer %}{% include 'dynaportal/partials/footer.html' %}{% endblock %}
  
</body>
{% endblock %}
</html>
