{% extends 'dynaportal/base.html' %}
{% load static %}
{% load humanize %}

{% load  checkboxes %}
{% load text_input %}
{% load button %}

{% block content %}
<h1 class="govuk-heading-xl">Customised page template 123</h1>

<div class="govuk-button-group">
{% button "Test Button" "primary" %}
{% button "Start Application" "start" %}
{% button "Start 1" "secondary" %}
{% button "Delete" "warning" %}
{% button "Disabled button" "primary" True %}
</div>

<div style="background-color: #1d70b8;">
{% button "Create an account" "inverse" %}
</div>


{% for field in fields %}
    {% if field.field_type.name == 'INPUT_TEXT' %}
{% text_input field %}
    {% elif field.field_type.name == 'CHECKBOXES' %}
{% checkboxes field %}
    {% endif %}
{% endfor %}

{% endblock content %}
