{% extends 'dynaportal/base.html' %}
{% load static %}
{% load humanize %}

{% load  checkboxes %}
{% load text_input %}
{% load button %}
{% load radios %}

{% block content %}
{%if page%}<h1 class="govuk-heading-xl">{{page.title}}</h1>{%endif%}
<form method="post" action=""{{action}}>{% csrf_token %}
{% for field in fields %}
    {% if field.field_type.name == 'INPUT_TEXT' %}
{% text_input field %}
    {% elif field.field_type.name == 'CHECKBOXES' %}
{% checkboxes field %}
    {% elif field.field_type.name == 'RADIOS' %}
{% radios field %}
    {% endif %}
{% endfor %}
</form>
{% endblock content %}
