{% extends 'dynaportal/base.html' %}
{% load static %}
{% load humanize %}

{% load  checkboxes %}
{% load text_input %}
{% load button %}
{% load radios %}
{% load select %}
{% load heading %}
{% load summary_list %}

{% block content %}
{%if page.title %}<h1 class="govuk-heading-xl">{{page.title}}</h1>{%endif%}
<form method="post" action="{{action}}">{% csrf_token %}
<input name="state" type="hidden" value="{{state}}" />
<input name="page-step" type="hidden" value="{{page.step}}" />
{% if page.step == 'welcome' %}
{{page.welcome_page | safe}}
{% elif view_summary %}
{% summary_list fields %}
{% else %}
{% if error %}
<p class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{error}}
</p>
{% endif %}
{% for field in fields %}
    {% if field.field_type.name == 'INPUT_TEXT' %}
{% text_input field %}
    {% elif field.field_type.name == 'CHECKBOXES' %}
{% checkboxes field %}
    {% elif field.field_type.name == 'RADIOS' %}
{% radios field %}
    {% elif field.field_type.name == 'SELECT' %}
{% select field %}
    {% elif field.field_type.name == 'HEADING' %}
{% heading field %}
    {% endif %}
{% endfor %}
{% endif %}
{% for btn  in buttons %}
{% button btn.label btn.value btn.type %}
{% endfor %}
</form>
{% endblock content %}
