{% load static %}
<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container app-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <!--[if gt IE 8]><!-->
            <img src="{% static 'images/ortho-icon.png' %}" style="height: 30px; width: 40px;" />
            <!--<![endif]-->
            <!--[if IE 8]>
          <img src="/assets/images/govuk-logotype-crown.png" class="govuk-header__logotype-crown-fallback-image" width="36" height="32" alt="">
          <![endif]-->
            <span class="govuk-header__logotype-text">{{tradeMark}}</span>
          </span>
        </a>
      </div>
{%if service %}
      <div class="govuk-header__content">
        <a href="{%if service.link%}{{service.link}}{%else%}#{%endif%}" class="govuk-header__link govuk-header__service-name">{%if service.title%}{{service.title}}{%else%}[Service.title]{%endif%}</a>
        <nav aria-label="Menu" class="govuk-header__navigation ">
          <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
          <ul id="navigation" class="govuk-header__navigation-list">{%for menu_item in service.menu_items%}
            <li class="govuk-header__navigation-item {%if menu_items.active%}govuk-header__navigation-item--active{%endif%}">
              <a class="govuk-header__link" href="{%if menu_item.active %}#{%else%}{{menu_item.link}}{%endif%}">{{menu_item.title}}</a>
            </li>{%endfor%}
          </ul>
        </nav>
      </div>{%endif%}
    </div>
  </header>
