{% load common %} 
<div class="govuk-radios" data-module="govuk-radios">
    {% for item in items %}{%if item.divider %}
    <div class="govuk-radios__divider">{{item.divider}}</div>
{%endif%}<div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{field_id}}-{{item|item:'value'}}" name="{{name}}" type="radio"
            {%if value == item|item:'value' %}checked{%endif%}
            value="{{item|item:'value'}}">
        <label class="govuk-label govuk-radios__label" for="{{field.id}}-{{item|item:'value'}}">
            {{item|item:'caption'}}
        </label>
        {% if item|item:'hint' %}
        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
            {{ item|item:'hint' }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
