{% extends "dynaportal/components/base_component/base_component.html" %}
{% load common %}
{% load select %}
{% block component_body %}
<div class="govuk-form-group {%if field.error%}govuk-form-group--error{%endif%}">
    {% field_label field.id field.caption field.options|item:"style-bold-size" %}
    {% hint field.hint %}
    {% field_error field.error %}
    <select class="govuk-select {%if field.error%}govuk-select--error{%endif%}" name="{{field.name}}">
      <option value="" selected>Choose an item</option>{% for item in field.options|item:"items" %}
      <option value="{{item|item:'value'}}">{{item|item:'caption'}}</option>{% endfor %}
    </select>
  </div>
{% endblock component_body %}