{% extends "frontend/components/base_component/base_component.html" %}
{% load common %}
{% block component_body %}
<fieldset class="govuk-fieldset" aria-describedby="countries-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% field_label field.id field.caption one_question %}
  </legend>
  {% hint field.hint %}
  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    {% for item in field.options|item:"items" %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="{{field.id}}-{{item}}" name="{{field.name}}" type="checkbox" value="{{item}}">
      <label class="govuk-label govuk-checkboxes__label" for="{{field.name}}">
        {{item}}
      </label>
    </div>
    {% endfor %}
    <div class="govuk-checkboxes__divider">or</div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
      <label class="govuk-label govuk-checkboxes__label" for="countries-5">
        No, I will not be travelling to any of these countries
      </label>
    </div>
  </div>
</fieldset>
{% endblock %}